{
   "configKeys":{
      "wgserver.localauth.policies.mustcontainletters.enabled" : true,
      "wgserver.localauth.policies.mustcontainuppercase.enabled" : true,
      "wgserver.localauth.policies.mustcontainnumbers.enabled" : true,
      "wgserver.localauth.policies.mustcontainsymbols.enabled" : true,
      "wgserver.localauth.policies.minimumpasswordlength.enabled" : true,
      "wgserver.localauth.policies.minimumpasswordlength.value" : "{{ tsm_password_policy.min_length }}",
      "wgserver.localauth.policies.maximumpasswordlength.enabled" : true,
      "wgserver.localauth.policies.maximumpasswordlength.value" : "{{ tsm_password_policy.max_length }}",
      "wgserver.localauth.passwordexpiration.enabled" : false,
      "wgserver.localauth.passwordexpiration.days" : "{{ tsm_password_policy.days_of_expiry }}",
      "wgserver.localauth.ratelimiting.maxbackoff.minutes" : 15,
      "wgserver.localauth.ratelimiting.maxattempts.enabled" : true,
      "wgserver.localauth.ratelimiting.maxattempts.value" : "{{ tsm_password_policy.max_attempts }}",
      "features.PasswordReset" : true
   }
}